@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&display=swap");
@font-face {
  font-family: "Avenir-Black";
  src: local("Avenir-Black"),
    url("../fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-BlackOblique";
  src: local("Avenir-BlackOblique"),
    url("../fonts/Avenir-BlackOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"), url("../fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-BookOblique";
  src: local("Avenir-BookOblique"),
    url("../fonts/Avenir-BookOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Heavy";
  src: local("Avenir-Heavy"),
    url("../fonts/Avenir-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-HeavyOblique";
  src: local("Avenir-HeavyOblique"),
    url("../fonts/Avenir-HeavyOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"),
    url("../fonts/Avenir-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-LightOblique";
  src: local("Avenir-LightOblique"),
    url("../fonts/Avenir-LightOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Medium";
  src: local("Avenir-Medium"),
    url("../fonts/Avenir-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-MediumOblique";
  src: local("Avenir-MediumOblique"),
    url("../fonts/Avenir-MediumOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Oblique";
  src: local("Avenir-Oblique"),
    url("../fonts/Avenir-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Roman";
  src: local("Avenir-Roman"),
    url("../fonts/Avenir-Roman.ttf") format("truetype");
}

* {
  font-family: "Montserrat";
}

.utama {
  color: #068bd0 !important;
}

.pemasukan {
  color: #08ab3f !important;
}

.pengeluaran {
  color: #f9010b !important;
}
