<template>
  <div>
    <InputTransaksi :isEdit="true" :dataEdit="data" />
  </div>
</template>

<script>
// @ is an alias to /src
import InputTransaksi from "@/components/InputTransaksi.vue";
export default {
  name: "EditTransaksi",
  components: {
    InputTransaksi,
  },
  data: () => {
    return {
      data: null,
    };
  },
  mounted() {
    this.data = this.$route.params;
  },
};
</script>