<template>
  <v-app class="home">
    <v-container fill-height="fill-height">
      <v-layout align-center="align-center" justify-center="justify-center">
        <v-flex class="login-form text-xs-center">
          <v-row align="center" justify="center" no-gutters>
            <v-col align="center" cols="12" sm="6" md="5" lg="4">
              <v-img
                class="mb-15"
                max-width="250"
                lazy-src="../assets/logo.svg"
                src="../assets/logo.svg"
              >
              </v-img>
            </v-col>
          </v-row>
          <v-row align="center" justify="center" no-gutters>
            <v-col cols="12" sm="6" md="5" lg="4">
              <v-form @submit="login" v-model="isValid">
                <v-text-field
                  v-model="input.username"
                  dense
                  label="Username"
                  outlined
                  color="primary"
                  :rules="[(v) => !!v || 'Username is required']"
                  required
                ></v-text-field>
                <v-text-field
                  type="password"
                  v-model="input.password"
                  dense
                  outlined
                  :rules="[(v) => !!v || 'Password is required']"
                  label="Password"
                  color="primary"
                  required
                ></v-text-field>
                <v-btn
                  class="mt-2"
                  color="primary"
                  block
                  elevation="10"
                  type="submit"
                  :disabled="!isValid"
                  @click.prevent="login"
                  depressed
                  >Masuk</v-btn
                >
              </v-form>
            </v-col>
          </v-row>
          <v-row align="center" class="mt-3" justify="center" no-gutters>
            <v-col align="center" cols="12" sm="6" md="5" lg="4">
              <span>Belum punya akun ? </span>
              <a @click="routeRegister">Daftar</a>
            </v-col>
          </v-row>
        </v-flex>
      </v-layout>
    </v-container>
    <FlashAlert @close-alert="closeAlert" :dialogProp="dialog" :type="type" />
  </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FlashAlert from "../components/alert/FlashAlert.vue";
import { TokenService } from "@/services/modules/service.storage";

export default {
  data: () => ({
    loginMessage: "",
    isValid: true,
    input: {
      username: "",
      password: "",
    },
    dialog: false,
    type: "",
    portrait: true,
    landscape: false,
  }),
  components: { FlashAlert },
  mounted() {
    window.addEventListener("orientationchange", this.handleOrientationChange);
  },
  computed: {
    ...mapState("user", ["loginStatus", "users"]),
  },
  methods: {
    ...mapActions("user", ["loginAction"]),
    handleOrientationChange() {
      const orientation = window.screen.orientation.type;
      if (orientation === "portrait-primary") {
        // portrait mode
        this.landscape = false;
        this.portrait = true;
      } else if (orientation === "landscape-primary") {
        // landscape mode
        this.landscape = true;
        this.portrait = false;
      }
    },
    async login() {
      let data = {
        username: this.input.username,
        password: this.input.password,
      };
      await this.loginAction(data);
      if (this.loginStatus === 200) {
        this.showLoginMessage("success");
        TokenService.saveUID(this.users.id);
      } else {
        this.showLoginMessage("failed");
      }
    },
    async showLoginMessage(type) {
      if (type == "failed") {
        this.dialog = true;
        this.type = "error_login";
        this.loginMessage = "Login Error";
      } else {
        this.dialog = true;
        this.type = "success";
        this.loginMessage = "Login Success";
      }
      return this.loginMessage;
    },
    closeAlert() {
      this.dialog = false;
      if (this.loginStatus === 200) this.$router.push({ name: "Home" });
    },
    routeRegister() {
      this.$router.push({ name: "Register" });
    },
  },
};
</script>

<style></style>