<template>
  <v-app class="home">
    <v-container fill-height="fill-height">
      <v-layout align-center="align-center" justify-center="justify-center">
        <v-flex class="login-form text-xs-center">
          <v-row align="center" justify="center" no-gutters>
            <v-col align="center" cols="12" sm="6" md="5" lg="4">
              <v-img class="mb-10" src="../assets/registergambar.png"> </v-img>
            </v-col>
          </v-row>
          <v-row align="center" justify="center" no-gutters>
            <v-col cols="12" sm="6" md="5" lg="4">
              <v-form @submit.prevent="login" v-model="isValid">
                <v-text-field
                  v-model="input.name"
                  dense
                  :rules="[rules.required]"
                  label="Nama Lengkap"
                  outlined
                  color="primary"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="input.username"
                  dense
                  :rules="[rules.required]"
                  label="Username"
                  outlined
                  color="primary"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="input.email"
                  dense
                  :rules="[rules.required, rules.emailMatch]"
                  label="Email"
                  outlined
                  color="primary"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="input.profession"
                  dense
                  :rules="[rules.required]"
                  label="Profession"
                  outlined
                  color="primary"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="input.password"
                  dense
                  counter
                  :rules="[rules.required, rules.min]"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  outlined
                  label="Password"
                  color="primary"
                  required
                ></v-text-field>
                <div class="text-center">
                  <v-btn
                    color="primary"
                    type="submit"
                    elevation="10"
                    block
                    @click.prevent="login"
                    depressed
                    :disabled="!isValid"
                    >Daftar</v-btn
                  >
                </div>
              </v-form>
            </v-col>
          </v-row>
          <v-row align="center" justify="center" no-gutters>
            <v-col align="center" cols="12" sm="6" md="5" lg="4">
              <span>Sudah Punya Akun ? </span>
              <a v-on:click="toLogin">Masuk</a>
            </v-col>
          </v-row>
        </v-flex>
      </v-layout>
    </v-container>
    <FlashAlert
      @close-alert="dialog = false"
      :dialogProp="dialog"
      :type="type"
    />
  </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FlashAlert from "../components/alert/FlashAlert.vue";

export default {
  components: { FlashAlert },
  data: () => ({
    loginMessage: "",
    loading: false,
    dialog: false,
    show1: false,
    isValid: true,
    type: "",
    input: {
      email: "",
      name: "",
      password: "",
      profession: "",
      username: "",
    },
    portrait: true,
    landscape: false,
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
      emailMatch: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      },
    },
  }),
  mounted() {
    window.addEventListener("orientationchange", this.handleOrientationChange);
  },
  computed: {
    ...mapState("user", ["registerStatus"]),
  },
  methods: {
    ...mapActions("user", ["registerAction"]),
    handleOrientationChange() {
      const orientation = window.screen.orientation.type;
      if (orientation === "portrait-primary") {
        // portrait mode
        this.landscape = false;
        this.portrait = true;
      } else if (orientation === "landscape-primary") {
        // landscape mode
        this.landscape = true;
        this.portrait = false;
      }
    },
    async login() {
      let data = {
        name: this.input.name,
        username: this.input.username,
        profession: this.input.profession,
        email: this.input.email,
        password: this.input.password,
      };
      await this.registerAction(data);
      if (this.registerStatus === 201) {
        this.showLoginMessage("success");
        this.$router.push({ name: "Login" });
      } else {
        this.showLoginMessage("failed");
      }
    },
    toLogin() {
      this.$router.push({ name: "Login" });
    },
    async showLoginMessage(type) {
      if (type == "failed") {
        this.dialog = true;
        this.type = "error_login";
        this.loginMessage = "Login Error";
      } else {
        this.dialog = true;
        this.type = "success";
        this.loginMessage = "Login Success";
      }
      return this.loginMessage;
    },
  },
};
</script>

<style></style>