<template>
  <div>
    <InputTransaksi :isEdit="false" />
  </div>
</template>

<script>
// @ is an alias to /src
import InputTransaksi from "@/components/InputTransaksi.vue";
export default {
  name: "Transaksi",
  components: {
    InputTransaksi,
  },
};
</script>