<template>
  <div class="text-center">
    <v-dialog v-model="dialogProp" width="412" style="border-radius: 16px">
      <v-card class="text-center pt-12 pb-7" style="border-radius: 16px">
        <v-card-title>
          <v-img
            :src="require('../../assets/images/flash-msg-icon/warning.svg')"
            width="100"
            height="100"
            contain
          >
          </v-img>
        </v-card-title>
        <v-card-title
          class="justify-center"
          style="font-size: 30px; font-family: Avenir-Black"
        >
          {{ title }}
        </v-card-title>

        <v-card-text style="font-size: 20px; font-family: Avenir-Medium">
          {{ sub_title }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            width="115"
            color="#DE4444"
            depressed
            @click="closeDialog('no')"
            rounded
            style="height: 35px; font-size: 16px; font-family: Montserrat"
            class="text-capitalize white--text font-weight-bold"
          >
            no
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            width="115"
            color="#5CAA01"
            depressed
            @click="closeDialog('yes')"
            rounded
            style="height: 35px; font-size: 16px; font-family: Montserrat"
            class="text-capitalize white--text font-weight-bold"
          >
            Yes
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "confirm-alert",
  props: ["dialogProp", "type"],
  data: () => ({
    icon_source: "success.svg",
    color: "",
    title: "",
    sub_title: "",
    action_text: "",
  }),
  watch: {
    dialogProp(val) {
      this.checkDialogType();
    },
  },
  mounted() {},
  methods: {
    create() {
      this.title = "CREATE";
      this.sub_title = "Yakin mau ditambah?";
    },
    edit() {
      this.title = "UPDATE";
      this.sub_title = "Yakin mau diperbarui?";
    },
    pass() {
      this.title = "CHANGE PASSWORD";
      this.sub_title = "Yakin mau diperbarui?";
    },
    delete() {
      this.title = "DELETE";
      this.sub_title = "Yakin mau dihapus?";
    },
    logout() {
      this.title = "LOG OUT";
      this.sub_title = "Yakin mau keluar?";
    },
    closeDialog(e) {
      this.$emit("close-confirm-dialog", e);
    },
    checkDialogType() {
      switch (this.type) {
        case "create":
          this.create();
          break;
        case "edit":
          this.edit();
          break;
        case "password":
          this.pass();
          break;
        case "delete":
          this.delete();
          break;
        case "logout":
          this.logout();
          break;

        default:
          break;
      }
    },
  },
};
</script>

<style></style>
