<template>
  <div class="text-center">
    <v-dialog v-model="dialogProp" width="412" style="border-radius: 16px">
      <v-card class="text-center pt-12 pb-7" style="border-radius: 16px">
        <v-card-title>
          <v-img
            :src="require('../../assets/images/flash-msg-icon/' + icon_source)"
            width="100"
            height="100"
            contain
          >
          </v-img>
        </v-card-title>
        <v-card-title
          class="justify-center"
          style="font-size: 30px; font-family: Avenir-Black"
        >
          {{ title }}
        </v-card-title>

        <v-card-text style="font-size: 20px; font-family: Avenir-Medium">
          {{ sub_title }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            width="150"
            :color="color"
            depressed
            @click="closeDialog()"
            rounded
            style="height: 35px; font-size: 16px; font-family: Montserrat"
            class="text-capitalize white--text font-weight-bold"
          >
            {{ action_text }}
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "flash-alert",
  props: ["dialogProp", "type"],
  data: () => ({
    icon_source: "success.svg",
    color: "",
    title: "",
    sub_title: "",
    action_text: "",
  }),
  watch: {
    dialogProp(val) {
      console.log("flash dialog ", val);
      this.checkDialogType();
    },
  },
  mounted() {
    console.log("tipe alert ", this.type);
  },
  methods: {
    success() {
      this.icon_source = "success.svg";
      this.color = "#5CAA01";
      this.title = "SUCCESS!";
      this.sub_title = "Everything looks perfect!";
      this.action_text = "Continue";
    },
    warning() {
      this.icon_source = "warning.svg";
      this.color = "#FFC26A";
      this.title = "WARNING!";
      this.sub_title = "Please don't do that!";
      this.action_text = "Understand";
    },
    danger() {
      this.icon_source = "danger.svg";
      this.color = "#DE4444";
      this.title = "OOPS!";
      this.sub_title = "Something Went Wrong!";
      this.action_text = "Try Again";
    },
    info() {
      this.icon_source = "info.svg";
      this.color = "#7BA0D5";
      this.title = "INFO";
      this.sub_title = "For Your Information";
      this.action_text = "Ok";
    },
    errorLogin() {
      this.icon_source = "danger.svg";
      this.color = "#DE4444";
      this.title = "OOPS!";
      this.sub_title = "The username or password is incorrect";
      this.action_text = "Try Again";
    },

    checkDialogType() {
      console.log("flash alert type c", this.type);
      switch (this.type) {
        case "success":
          this.success();
          break;
        case "warning":
          this.warning();
          break;
        case "danger":
          this.danger();
          break;
        case "info":
          this.info();
          break;
        case "error_login":
          this.errorLogin();
          break;
        default:
          break;
      }
    },
    closeDialog() {
      this.$emit("close-alert", false);
    },
  },
};
</script>

<style></style>
