<template>
  <v-app style="background: #068bd0; height: 200px">
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <div class="ml-3 mt-2 mr-3 float-left">
            <img
              src="../assets/profile.png"
              height="50"
              width="50"
              alt="Profile"
            />
          </div>
          <div
            @click="logout"
            class="ml-3 mt-2 mr-3 float-right text-center"
            style="cursor: pointer"
          >
            <img
              src="../assets/logout.svg"
              height="30"
              width="30"
              alt="Profile"
              v-on:click="logout"
            />
            <p style="color: #fab360" v-on:click="logout">Logout</p>
          </div>

          <v-main class="mt-3 ml-10 white--text">
            <span>{{ this.dataDashboard.name || "Imam Ramadhani" }}</span>
            <v-spacer></v-spacer>
            <span>{{
              this.dataDashboard.profession || "Kang Siapa-siapa"
            }}</span>
          </v-main>
        </v-col>
      </v-row>
      <!-- <DetailSaldo
          :datasetIncome="datasetIncome"
          :datasetOutcome="datasetOutcome"
          :saldo="datasetSaldo"
        /> -->

      <!-- <ListData :dataTransaction="dataTransaction" @on-click="onClick" /> -->

      <v-fab-transition>
        <v-btn @click="toAdd" color="primary" fixed bottom right fab>
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-main>
        <v-data-table
          :headers="headers"
          :items="data_hasil"
          :items-per-page="5"
          class="elevation-1"
        >
          <template v-slot:[`item.aksi`]="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  depressed
                  fab
                  dense
                  outlined
                  dark
                  class="mx-1 my-2"
                  x-small
                  color="red"
                  @click="Hapus(item)"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon small> mdi-delete </v-icon>
                </v-btn>
              </template>
              <span>Hapus</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-main>
    </v-container>

    <DialogDetail
      :data="dataDetail"
      :dialog="dialog"
      @close-dialog="dialog = false"
      @edit="toEdit"
      @delete="toDelete"
    />

    <ConfirmAlert
      :dialogProp="statusConfirm"
      :type="typeConfirm"
      @close-confirm-dialog="ConfirmAlert"
    />

    <FlashAlert
      @close-alert="dialog2 = false"
      :dialogProp="dialog2"
      :type="type"
    />
  </v-app>
</template>

<script>
import FlashAlert from "./alert/FlashAlert.vue";
import ConfirmAlert from "./alert/ConfirmAlert.vue";
import DialogDetail from "./DialogDetail.vue";
import DetailSaldo from "./DetailSaldo.vue";
import ListData from "./ListData.vue";
import axios from "axios";
import { mapActions, mapState } from "vuex";
import { TokenService } from "@/services/modules/service.storage";

export default {
  components: { FlashAlert, ConfirmAlert, DialogDetail, DetailSaldo, ListData },
  data: () => ({
    dialog: false,
    dialog2: false,
    statusConfirm: false,
    typeConfirm: "",
    type: "",
    dataDetail: {},
    dataTransaction: [],
    dataDashboard: [],
    datasetIncome: "",
    datasetOutcome: "",
    datasetSaldo: "",
    headers: [
      {
        text: "Jenis Handphone",
        align: "start",
        sortable: false,
        value: "name",
      },
      {
        text: "Harga",
        align: "start",
        sortable: false,
        value: "harga",
      },
      {
        text: "Aksi",
        align: "start",
        sortable: false,
        value: "aksi",
      },
    ],
    desserts: [
      {
        name: "Frozen Yogurt",
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0,
        iron: 1,
      },
      {
        name: "Ice cream sandwich",
        calories: 237,
        fat: 9.0,
        carbs: 37,
        protein: 4.3,
        iron: 1,
      },
    ],
    data_hasil: [],
  }),
  mounted() {
    // this.getDatas();
    // this.getDatasTf();
    this.getDataAll();
    console.log(this.resultdata, "reuslt");
  },
  computed: {
    ...mapState("publicapi", ["resultdata"]),
    ...mapState("user", ["users"]),
    ...mapState("transaction", ["transaction"]),
  },
  methods: {
    ...mapActions("user", ["getUser"]),
    ...mapActions("transaction", ["getTransaction"]),
    ...mapActions("publicapi", ["getdaTa"]),

    // async getDatas() {
    //   await this.getUser("abd-rabbu_mansour_hadi");
    //   this.dataDashboard = this.users[0];
    // },
    async getDataAll() {
      const resp = await this.getdaTa();
      this.data_hasil = resp?.map((item) => {
        const harga = item?.data?.price || item?.data?.Price;
        return {
          name: item.name,
          harga: harga || 100000,
        };
      });

      this.dataDashboard = this.users[0];
    },
    async getDatasTf() {
      await this.getTransaction(TokenService.getUID());
      this.dataTransaction = this.transaction;
      this.datasetSaldo = this.dataTransaction.saldo;
      this.datasetIncome = this.dataTransaction.pemasukan;
      this.datasetOutcome = this.dataTransaction.pengeluaran;
    },
    onClick(index) {
      this.dialog = true;
      this.dataDetail = index;
    },
    logout() {
      this.typeConfirm = "logout";
      this.statusConfirm = true;
    },
    ConfirmAlert(val) {
      this.statusConfirm = false;
      if (val === "yes") {
        TokenService.removeAll();
        this.$router.push({ name: "Login" });
      }
    },
    toAdd() {
      this.$router.push({ name: "Transaksi" });
    },
    async toDelete(id) {
      await axios
        .delete(`/api/transaksi/${id}`)
        .then((response) => {
          if (response.status === 200) {
            this.dialog = false;
            this.dialog2 = true;
            this.type = "success";
          } else {
            this.dialog2 = true;
            this.type = "danger";
          }
          this.getDatas();
          this.getDatasTf();
        })
        .catch((err) => {
          // this is the main part. Use the response property from the error object
          console.log(err);
          this.dialog = false;
          this.dialog2 = true;
          this.type = "danger";
        });
    },
    toEdit(data) {
      this.$router.push({
        name: "EditTransaksi",
        params: {
          id: data.id,
          name: data.name,
          nominal: data.nominal,
          type: data.type,
        },
      });
    },
    Hapus(item){

    }
  },
};
</script>

<style></style>
