<template>
  <v-row>
    <v-col>
      <v-card
        v-if="$vuetify.breakpoint.xs"
        class="mx-auto"
        elevation="24"
        shaped
        max-width="300"
      >
        <!-- <v-card-text>
          <div class="utama">
            Saldo
            <img
              style="margin-top: -5%"
              class="float-right"
              height="50"
              width="50"
              src="../assets/logo.svg"
              alt="Logo"
            />
          </div>
          
          <div class="utama">
            Rp{{ Intl.NumberFormat().format(this.saldo) }}
          </div>
          <div class="mt-2 text-start pemasukan">
            Pemasukan
            <span class="float-right pengeluaran"> Pengeluaran </span>
          </div>
          <div class="text-start pemasukan">
            Rp{{ Intl.NumberFormat().format(this.datasetIncome) }}
            <span class="float-right pengeluaran"
              >Rp{{ Intl.NumberFormat().format(this.datasetOutcome) }}
            </span>
          </div>
        </v-card-text> -->
      </v-card>

      <v-card
        v-if="
          $vuetify.breakpoint.lg ||
          $vuetify.breakpoint.md ||
          $vuetify.breakpoint.xl ||
          $vuetify.breakpoint.sm
        "
        class="mx-auto"
        elevation="24"
        shaped
        max-width="400"
      >
        <v-card-text>
          <div class="utama">
            Saldo
            <img
              style="margin-top: -1%"
              class="float-right"
              height="50"
              width="50"
              src="../assets/logo.svg"
              alt="Logo"
            />
          </div>
          <div class="utama">
            Rp{{ Intl.NumberFormat().format(this.saldo) }}
          </div>
          <div class="mt-2 text-start pemasukan">
            Pemasukan
            <span class="float-right pengeluaran"> Pengeluaran </span>
          </div>
          <div class="text-start pemasukan">
            Rp{{ Intl.NumberFormat().format(this.datasetIncome) }}
            <span class="float-right pengeluaran"
              >Rp{{ Intl.NumberFormat().format(this.datasetOutcome) }}
            </span>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ["datasetIncome", "datasetOutcome", "saldo"],
};
</script>

<style>
</style>