<template>
  <div>
    <v-dialog width="500" v-model="dialog" persistent>
      <v-card>
        <v-card-title>
          <v-row no-gutters class="align-center">
            {{ message }} <v-spacer />
            <v-btn icon @click="$emit('close-dialog')">
              <v-icon>mdi-close</v-icon>
            </v-btn></v-row
          >
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <div class="mr-3 float-left">
                <img :src="imgStatus" />
              </div>
              <span :class="[typeStatus]">{{ typeStatus }}</span>
            </v-col>
            <v-col cols="12">
              <div class="mr-3 float-left">
                <img width="30" height="30" :src="imgStatusWal" />
              </div>
              <span :class="[typeStatus]"
                >Rp{{ Intl.NumberFormat().format(nominals) }}</span
              >
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="#f9010b"
            outlined
            @click="$emit('delete', indexEdit)"
            type="submit"
            >Hapus</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn color="#08ab3f" @click="$emit('edit', indexEdit)" type="submit"
            >Edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ["data", "dialog"],
  data: () => ({
    typeStatus: "",
    imgStatus: "",
    imgStatusWal: "",
    indexEdit: "",
    message: "",
    nominals: "",
  }),
  watch: {
    dialog(val) {
      this.indexEdit = this.data;
      this.nominals = this.data.nominal;
      this.typeStatus = this.data.type;
      this.imgStatus = require(`@/assets/` + this.data.type + `.svg`);
      this.imgStatusWal = require(`@/assets/wallet_` + this.data.type + `.svg`);
      this.message = this.data.title;
    },
  },
};
</script>

<style scoped>
</style>