<template>
  <v-app style="background: #068bd0; height: 200px">
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <h1 class="white--text">
            {{ isEdit ? `Edit Transaksi` : `Tambah Transaksi` }}
          </h1>
        </v-col>
      </v-row>

      <DetailSaldo
        :datasetIncome="datasetIncome"
        :datasetOutcome="datasetOutcome"
        :saldo="datasetSaldo"
      />

      <v-row class="mt-12">
        <v-col cols="12" class="mt-2">
          <v-form @submit="save" v-model="isValid">
            <v-text-field
              v-model="input.name"
              dense
              label="Nama Transaksi"
              outlined
              color="primary"
              :rules="[(v) => !!v || 'Name is required']"
            ></v-text-field>
            <v-text-field
              class="inputPrice"
              v-model="nominal"
              dense
              label="Nominal Transaksi"
              outlined
              color="primary"
              prefix="Rp"
              :rules="[(v) => !!v || 'Nominal is required']"
            ></v-text-field>
            <v-radio-group v-model="input.type" row>
              <v-radio
                class="green--text"
                style="color: #08ab3f"
                color="success"
                label="Pemasukan"
                value="pemasukan"
              ></v-radio>
              <v-radio
                class="red--text"
                style="color: #f9010b"
                color="warning"
                label="Pengeluaran"
                value="pengeluaran"
              ></v-radio>
            </v-radio-group>
            <div class="mt-15 text-center">
              <v-btn
                color="primary"
                type="submit"
                elevation="10"
                block
                @click.prevent="save()"
                depressed
                :disabled="!isValid"
                >Simpan</v-btn
              >
            </div>
            <div class="mt-3 text-center">
              <v-btn
                color="white"
                style="color: #f9010b"
                elevation="10"
                block
                @click.prevent="cancel"
                depressed
                >Kembali</v-btn
              >
            </div>
          </v-form>
        </v-col>
      </v-row>
    </v-container>

    <FlashAlert @close-alert="closeAlert" :dialogProp="dialog" :type="type" />

    <ConfirmAlert
      :dialogProp="statusConfirm"
      :type="typeConfirm"
      @close-confirm-dialog="confirmAlert"
    />
  </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";
import DetailSaldo from "./DetailSaldo.vue";
import FlashAlert from "./alert/FlashAlert.vue";
import ConfirmAlert from "./alert/ConfirmAlert.vue";
import { TokenService } from "@/services/modules/service.storage";

export default {
  props: ["isEdit", "dataEdit"],
  components: { DetailSaldo, FlashAlert, ConfirmAlert },
  data: () => ({
    isValid: false,
    input: {
      type: "pemasukan",
      name: "",
    },
    dataTransaction: [],
    datasetOutcome: 0,
    datasetIncome: 0,
    datasetSaldo: 0,
    dialog: false,
    statusConfirm: false,
    type: "",
    typeConfirm: "",
    nominal: null,
  }),
  mounted() {
    this.getDatas();
  },
  watch: {
    nominal(newValue) {
      const result = newValue
        .replace(/\D/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      this.nominal = result;
    },
  },
  computed: {
    ...mapState("user", ["users"]),
    ...mapState("transaction", ["transaction", "createStatus", "editStatus"]),
  },
  methods: {
    ...mapActions("user", ["getUser"]),
    ...mapActions("transaction", [
      "getTransaction",
      "createTransaction",
      "editTransaction",
    ]),
    async getDatas() {
      await this.getTransaction(TokenService.getUID());
      this.dataTransaction = this.transaction;
      this.datasetSaldo = this.dataTransaction.saldo;
      this.datasetIncome = this.dataTransaction.pemasukan;
      this.datasetOutcome = this.dataTransaction.pengeluaran;

      if (this.isEdit) {
        this.input.name = this.dataEdit.name;
        this.nominal = this.dataEdit.nominal;
        this.input.type = this.dataEdit.type;
      }
    },

    save() {
      if (this.isEdit) {
        this.typeConfirm = "edit";
      } else {
        this.typeConfirm = "create";
      }
      this.statusConfirm = true;
    },
    async confirmAlert(val) {
      this.statusConfirm = false;
      if (val === "yes") {
        if (this.isEdit) {
          await this.editTransaction({
            name: this.input.name,
            nominal: parseFloat(this.nominal.replace(/,/g, "")),
            id: this.dataEdit.id,
            type: this.input.type,
          }).then((res) => {
            if (this.editStatus === 200) {
              this.dialog = true;
              this.type = "success";
            } else {
              this.dialog = true;
              this.type = "danger";
            }
          });
        } else {
          await this.createTransaction({
            name: this.input.name,
            nominal: parseFloat(this.nominal.replace(/,/g, "")),
            id: TokenService.getUID(),
            type: this.input.type,
          }).then(() => {
            if (this.createStatus === 201) {
              this.dialog = true;
              this.type = "success";
            } else {
              this.dialog = true;
              this.type = "danger";
            }
          });
        }
      }
    },
    closeAlert() {
      this.dialog = false;
      this.$router.push({ name: "Home" });
    },
    cancel() {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>

<style scoped>
.green--text /deep/ label {
  color: #08ab3f;
}

.red--text /deep/ label {
  color: #f9010b;
}

.inputPrice >>> input[type="number"] {
  -moz-appearance: textfield;
}
.inputPrice >>> input::-webkit-outer-spin-button,
.inputPrice >>> input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>