<template>
  <v-row>
    <div
      v-if="dataTransaction.list_transaksi.length === 0"
      class="mx-auto mt-6"
    >
      <v-img src="@/assets/nodata.svg" />
    </div>

    <v-col
      v-else
      cols="12"
      class="mt-2"
      v-for="(item, i) in dataTransaction.list_transaksi"
      :key="i"
    >
      <div @click="$emit('on-click', item)" style="cursor: pointer">
        <div class="ml-3 mt-3 mr-3 float-left">
          <img :src="require(`@/assets/` + item.type + `.svg`)" />
        </div>
        <v-main>
          <div :class="['text-start', item.type]">
            {{ item.name }}
            <span :class="['float-right', 'mt-3', item.type]"
              >Rp{{ Intl.NumberFormat().format(item.nominal) }}
            </span>
          </div>
          <v-spacer></v-spacer>
          <span :class="item.type">{{
            moment(item.timestamp).locale("id").format("dddd, DD MMM YYYY")
          }}</span>
        </v-main>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ["dataTransaction"],
};
</script>

<style>
</style>